/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_mixins';

body {
  background: $primary-background;
}

h1 {
  color: white;
  font-stretch: ultra-expanded;
}

main {
  @include make-column();
  align-items: center;
  padding-top: 3em;
  gap: 2em;
}


nav {
  background: $secondary-color;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

#loginButton,
button {
  height: 7vh;
  width: 7vw;
  border-radius: 17%;
  background-color: $fifth-color;
  margin-top: 1vh;
  font-size: larger;
}

.drop-down {
  height: 3em;
}

.filter-room-section {
  gap: 1em;
}


.hero-image {
  display: flex;
  padding: 7em;
  background-image: url('../images/hero-image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.user-check-in {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 1em;
  margin-left: -5%;
  width: 30%;
  color: black; 
  font-weight: bolder;
  height: 10vh;
  box-shadow: 0.5em 0.5em 0.5em $tertiary-color;
  background-color: $primary-background;
  border-radius: 37%;
}

.message-to-user {
  @include make-column()
}

.card-border {
  border: 2px solid $tertiary-color;
  padding: 10px;
}

.card-border:hover,
.card-border:focus {
  @include card-decor()
}



.make-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  flex-direction: row;
}

.hidden {
  display: none;
}